*{
	margin: 0px;
	padding: 0px;
	font-family: flexo;
}

.navbar{
	background-color: #ff6900;
	padding: 10px;
}
.main{
	display: flex;
	justify-content:start;

}

li{
	list-style: none;
		padding: 10px;

}


.main li a{
	color: white;
	text-decoration: none;
	font-weight: bold;
}

.navbar2{
	 background-color: white;
	 display: flex;
	 padding: 5px;
	
	 top: 0;
}

.main2{
	display: flex;
	justify-content: ;

}
.main2 li a{
	color: black;
	text-decoration: none;


}

.search{
	margin-top: 10px;
	margin-left: 160px;
}
.search input{
	border: 1px solid lightgrey;
	padding: 4px;
}
.main3{
	display: flex;
	font-size: 30px;
}
.cl:hover{
}
.cl{
	border-radius: 5px 5px;
}


